{{ $mode := .Get "mode" | default "full" }}

<section class="contact-section">
  <h2>Stay Connected 💛</h2>

  {{ if eq $mode "full" }}
    <p>Thank you for your interest and support!</p>
  {{ end }}

  <form name="stay-connected" method="POST" data-netlify="true" action="/thank-you/">
  <input type="hidden" name="form-name" value="stay-connected">
    <input
      type="email"
      name="email"
      placeholder="Your email"
      required
    >

    {{ if eq $mode "full" }}
      <textarea
        name="message"
        placeholder="Leave us a comment!"
        rows="4"
      ></textarea>
    {{ end }}

    <button type="submit">
{{ if eq $mode "mini" }}Join the list{{ else }}Send message{{ end }}
</button>
